.main-title-gradient {
  font-size: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 11px 4px 8px rgba(62, 4, 4, 0.491);
}

.delay-field {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  margin-bottom: 16px;
  width: 360px;
}

.delay-field input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  outline: none;
}

.delay-field input:hover {
  border: 1px solid #000;
}

.delay-field input:active,
.delay-field input:focus-visible,
.delay-field input:focus {
  border: 1px solid #4e75ff;
}

.state-legend {
  box-sizing: border-box;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 360px;
  margin: 0 0 24px;
  padding: 24px 48px 8px;
  display: flex;
  gap: 48px;
  margin-inline: 0;
}

.create-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.create-button:hover {
  background-color: #6c8cff;
}
