/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('flatpickr/dist/flatpickr.min.css');
@import url('izitoast/dist/css/iziToast.min.css');

@import url('./1-timer.css');
@import url('./2-snackbar.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./modern-normalize.css');
/* Sections style */

body {
  font-family: 'Montserrat', sans-serif;
}

.index-href {
  text-align: center;
}

.index-description {
  max-width: 600px;
}

.wrapper {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.index-description {
  margin-bottom: 12px;
}

.index-href {
  margin: 30px 0;
}

.link-wrapper {
  display: flex;
  gap: 50px;
}
